.product-backlog {
  background-color: #ffffff;
}

.header-left {
  display: flex;
  align-items: center;
}

.hamburger-menu img {
  width: 30px;
  margin-right:10px;
}

.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.back {
  width: 30px;
  height: 30px;
  margin-left: 1300px;
  margin-top: 20px;
  cursor: pointer;
}

.table-1 {
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
  margin-left: 75px;
}

.th-1 {
  padding: 8px;
  text-align: left;
  font-size: 30px;
}
.td-1 {
  padding: 8px;
  text-align: left;
  font-size: 20px;
}

.status {
  padding: 5px 10px;
  border-radius: 15px;
}

.status-active-G {
  border-radius: 10px;
  color: green;
  height: 20px;
  width: 120px;
}

.status-active-B {
  border-radius: 10px;
  color:blue;
  height: 20px;
  width: 120px;
}

.backlog-icon {
  width: 35px;
  height: 35px;
  background-image: url('https://cdn-icons-png.flaticon.com/128/5084/5084624.png');
  background-size: cover;
  display: inline-block;
  cursor: pointer;
  margin-left: 20px;
}

.footer-2 {
  text-align: center;
  font-size: 16px;
  background-color: rgb(50, 50, 50);
  color: rgb(255, 255, 255);
  width: 100%;
  margin-bottom: 0px;
  margin-top: -66px;
}
.td-2 {
  text-align: left;
}
.BL {
  width: 80px;
  height: 80px;
  margin-left: 100px;
}

.BL-1 {
  margin-left: 40px;
  margin-top: 15px;
  font-size: 40px;
}

.BL-img {
  display: flex;
  color: #5C5A5A;
}

.main-1 {
  height: 700px;
}


.table-2 {
  border-bottom: 2px solid #000000;
}