.logo {
  height: 8em;
}

.html,
body {
  font-family: 'THSarabun', sans-serif;
  margin: 0 0 0 0;
  font-size: 25px;
}

body {
  font-family: 'THSarabun', sans-serif;
}


@font-face {
  font-family: 'THSarabun';
  src: url('./font/THChakraPetchBold.ttf') format('truetype');
}