.head-4 h3 {
    color: red;
    margin-top: 60px;
    width: 500px;
    margin-left: 100px;
    text-align: left;
}
.docconterler {
    width: 72.5%;
    margin-left: 351px;
}
.text-text p {
    margin-left: 60px;
    text-align: left;
    padding-top: 5px;
}
.next {
    background: none;
    border: none;
    align-items: center;
    margin-top: 50px;
    margin-left: 400px;
}
.nextpage-1 {
    width: 50px;
    height: 50px;
    margin-left: 400px;
    cursor: pointer;
}
.uplode {
    text-align: left;
    margin-left: 60px;
}
.inputuplode {
    margin-left: -15px;
}
.green {
    color: green;
}
.red {
    color: red;
}
.button-2 {
    background-color: rgb(44, 241, 44);
    border: none;
    border-radius: 5px;
    color: white;
    width: 90px;
    height: 30px;
    cursor: pointer;
}
.button-3 {
    text-align: right;
    margin-top: 30px;
}
.back-button-1 {
    background: none ;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.back-button img {
    width: 40px;
    height: 40px;
}
.back-button {
    text-align: left;
    margin-left: 30px;
    margin-top: 30px;
}


